# dependencies
#依赖不进git
node_modules/  

# next.js
.next/
out/

# production
build/
dist/

# editor
.vscode/*
!.vscode/extensions.json

# misc
.DS_Store
*.log
.env*

#产物（缓存）不进git
backend/.venv/
backend/__pycache__
*.pyc

#数据不进git
backend/*.db 